services:

  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: sqlserver
    environment:
      SA_PASSWORD: "YourStrong!Passw0rd"
      ACCEPT_EULA: "Y"
    ports:
      - "1433:1433"
    healthcheck:
      test: [ "CMD-SHELL", "/opt/mssql-tools18/bin/sqlcmd -S localhost -U sa -P 'YourStrong!Passw0rd' -C -Q 'SELECT 1' || exit 1" ]
      interval: 10s
      retries: 10
    networks:
      - soa-net

  facturisation:
    container_name: facturation
    build:
      context: ./services/facturisation-service/facturisationService
    depends_on:
      - sqlserver
    environment:
      - ConnectionStrings__DefaultConnection=Server=sqlserver,1433;Database=billingdb;User Id=sa;Password=YourStrong!Passw0rd;TrustServerCertificate=True;
    ports:
      - "8081:80"
    networks:
      - soa-net

  api-gateway:
    container_name: api-gateway-container
    build:
      context: ./services/api-gateway/api-gateway
    ports:
      - "8082:8081"
    restart: unless-stopped
    depends_on:
      - facturisation
    networks:
      - soa-net

  mysql:
    image: mysql:8.0
    container_name: mysql
    environment:
      MYSQL_ROOT_PASSWORD: StrongPass123!
      MYSQL_USER: hospital_user
      MYSQL_PASSWORD: StrongPass123!
    volumes:
      - ./init-databases.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "3307:3306"
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost" ]
      interval: 10s
      retries: 10
    networks:
      - soa-net

  auth-service:
    container_name: auth-service
    build:
      context: ./services/auth-service/auth-service
    depends_on:
      mysql:
        condition: service_healthy
    environment:
      - SPRING_DATASOURCE_URL=jdbc:mysql://mysql:3306/hospital_auth
      - SPRING_DATASOURCE_USERNAME=hospital_user
      - SPRING_DATASOURCE_PASSWORD=StrongPass123!
      - JWT_SECRET=HospitalSecretKey123!HospitalSecretKey123!HospitalSecretKey123!
    ports:
      - "8083:8081"
    networks:
      - soa-net

  rendezvous-service:
    container_name: rendezvous-service
    build:
      context: ./services/rendezvous-service/rendezvous-service
    depends_on:
      mysql:
        condition: service_healthy
    environment:
      - SPRING_DATASOURCE_URL=jdbc:mysql://mysql:3306/hospital_rendezvous
      - SPRING_DATASOURCE_USERNAME=hospital_user
      - SPRING_DATASOURCE_PASSWORD=StrongPass123!
      - JWT_SECRET=HospitalSecretKey123!HospitalSecretKey123!HospitalSecretKey123!
    ports:
      - "8084:8083"
    networks:
      - soa-net

  patients-service:
    container_name: patients-service
    build:
      context: ./services/patients-service/patients-service
    depends_on:
      mysql:
        condition: service_healthy
    environment:
      - DB_HOST=mysql
      - DB_USER=hospital_user
      - DB_PASSWORD=StrongPass123!
      - DB_NAME=hospital_patients
    ports:
      - "3001:3001"
    networks:
      - soa-net

  pharmacie-service:
    container_name: pharmacie-service
    build:
      context: ./services/pharmacie-service/pharmacie-service
    depends_on:
      mysql:
        condition: service_healthy
    environment:
      - DB_HOST=mysql
      - DB_USER=hospital_user
      - DB_PASSWORD=StrongPass123!
      - DB_NAME=hospital_pharmacie
    ports:
      - "8000:8000"
    networks:
      - soa-net

networks:
  soa-net:
    driver: bridge
